<p class="copyright load-animation">
    <span class="hidden">COPYRIGHT 2018 MAD ALL RIGHT RESERVED</span>
    <span class="transition01"></span>
</p>
<div class="transition-bg01"></div>
<div class="transition-bg02"></div>
<div class="preloader">
    <span class="preloader-img">
        <img src="/images/preloader.jpg" alt="">
    </span>
</div>
</body>
</html>