<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/layout.css">
<script src="/js/jquery-3.1.1.min.js"></script>
<!-- Include CSS for icons. -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
 
<!-- Include Editor style. -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.0/pixi.min.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/ScrollToPlugin.min.js"></script>
<script src="/js/TextPlugin.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/function.js"></script>
<!--[if lt IE 9]> <script src="//js/html5shiv.js"></script><![endif]-->
<script>
    $(function () {
        $('.editor-body').froalaEditor({
          height: 500
        });

        // $.ajax({
        // url: 'https://api.dailymotion.com/videos?fields=embed_html,embed_url,&country=kr&search=%EB%9D%BC%EC%9D%B4%EB%B8%8C+14%ED%99%94',
        // dataType: 'json',
        // type: 'GET',
        // }).done(function(response) {
        // console.log(response);
        // })
    });
</script>
</head>

<body id="particle-slider">
    <header class="site-header">
        <h1 class="site-logo load-animation">
            <a href="/" class="hidden page-link">
                <img src="/images/logo.png" alt="mad">
            </a>
            <span class="transition01"></span>
        </h1>
        <div class="page-progress">
            <div class="progress-inner"></div>
        </div>
        <a href="javascript:void(0);" onclick="scroll_Top();" class="scrolltop">Scroll top</a>
    </header>
    <aside class="side-menu">
        <ul class="btn-menu default">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <nav class="gnb">
            <ul class="site-menu">
                <li>
                    <a href="/" class="page-link">home</a>
                </li>
                <li>
                    <a href="about" class="page-link">about</a>
                </li>
                <li>
                    <a href="project" class="page-link">project</a>
                </li>
                <li>
                    <a href="contact" class="page-link">contact</a>
                </li>
                <li>
                    <a href="/posts" class="page-link">posts</a>
                </li>
            </ul>
        </nav>
    </aside>

    