<!DOCTYPE html">
<html lang="ko">
    <head>
            <% include partials/header.ejs %>
            <title> <%= title %></title>
            <div class="wrap">
                <div class="contents-wrap">
                    <section class="page-tit">
                        <span class="page-name">
                            <i>&lt;</i>
                            <i>a</i>
                            <i>b</i>
                            <i>o</i>
                            <i>u</i>
                            <i>t</i>
                            <i>&gt;</i>
                            <span class="cursor">|</span>
                        </span>
                    </section>
                    <section class="page-top parallax-item viewport-eff">
                        <div class="info-box">
                            <div class="info">
                                <strong class="myposition">publisher</strong>
                                <div class="fr">
                                    <strong>jae hyuc song</strong>
                                    <em>송재혁 꽃다운 나이 다 지나간 나이</em>
                                </div>
                            </div>
                            <!--<span class="info-bg"></span>-->
                        </div>
                        <span class="page-img about" data-vide-bg="/images/vd01" data-vide-options="position: 0% 50%"></span>
                        <span class="bg"></span>
                    </section>
                    <section class="about-section parallax-item">
                        <div class="about-tit">
                            <div class="txt">
                                <span>what</span>
                                <span>i think</span>
                            </div>
                            <span class="tit-bg"></span>
                        </div>
                        <div class="section-img prx" data-vide-bg="/images/vd02" data-vide-options="position: 0% 50%" data-distance=".1">
                            <span class="bg"></span>
                        </div>
                        <div class="about-txt prx" data-distance=".5">
                            <div class="inner">
                                <strong>어쩌구 저쩌구</strong>
                                <p>MAD의 사전적 의미 열광하다. 살아가는데 있어 </p>
                                <p>열정, 열광등, 이런 뜨거운 단어들이 중요하다고</p>
                                <p>생각한다. 항상 뜨거운 열정을 잃지 않으며</p>
                                <p>누군가를 열광 시키기를 바라는 마음에</p>
                            </div>
                        </div>
                    </section>
                    <section class="about-section parallax-item choose">
                        <div class="about-tit">
                            <div class="txt">
                                <span>why</span>
                                <span>choose</span>
                                <span>this career?</span>
                            </div>
                            <span class="tit-bg"></span>
                        </div>
                        <div class="section-img prx" data-distance=".082">
                            <span class="bg"></span>
                        </div>
                        <div class="about-txt prx" data-distance=".6">
                            <div class="inner">
                                <strong>이 직업을 선택한 이유</strong>
                                <p>스파이더맨을 좋아해서 WEB을 택한것 아니다. </p>
                                <p>어렸을때부터 creative에 대한 열망이 강했다.</p>
                                <p>항상 새로운것을 추구하고 싶었고 끊임 없이 변화 하고 </p>
                                <p>생각 하는 일을 하고 싶었다. </p>
                            </div>
                        </div>
                    </section>
                    <section class="can parallax-item">
                        <h3 class="section-tit viewport-eff parallax-item">
                            <div class="position-r mb10">
                                <span class="hidden">what</span>
                                <span class="transition01"></span>
                            </div>
                            <div class="position-r">
                                <span class="hidden">can u do?</span>
                                <span class="transition01"></span>
                            </div>
                        </h3>
                        <hr class="division-line">
                        <ul class="skill">
                            <li>
                                html5
                                <br>css3
                            </li>
                            <li>
                                /
                            </li>
                            <li>
                                sass
                                <br>jquery
                            </li>
                            <li>
                                design a little bit
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="page-bottom">
                    <section class="contents-wrap">
                        <h2 class="page-end">
                            <i>&lt;</i>
                            <i>/</i>
                            <i>a</i>
                            <i>b</i>
                            <i>o</i>
                            <i>u</i>
                            <i>t</i>
                            <i>&gt;</i>
                            <span class="cursor">|</span>
                        </h2>
                        <a href="/project/" class="next-page page-link">
                            <span>project</span>
                            <i class="arrow"></i>
                        </a>
                    </section>
                </div>
            </div>
            <script src="/js/jquery.vide.js"></script>

     
            <% include partials/footer.ejs %>
        </body>
    
    </html>