<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
    <title>
      <%= post.title %>
    </title>

</head>

<body>
  <div class="wrap">
    <div class="contents-wrap">
      <section class="page-tit">
        <span class="">&lt;
          <%= post.title %>&gt;</span>
      </section>
      <article class="wrap-post" style="background:none;">
        <div class="post-cont">
            <%- post.body %>
        </div>

      </article>
    </div>
    <div class="page-bottom">
      <section class="contents-wrap">
        <h2 class="page-end">&lt;/posts&gt;</h2>
        <a href="/project.asp" class="next-page page-link">
          <span>project</span>
          <i class="arrow"></i>
        </a>
      </section>
    </div>
  </div>
</html>